

@font-face {
  font-family: 'Sarabun';
  src: url('/assets/fonts/Sarabun-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/assets/fonts/Sarabun-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/assets/fonts/Sarabun-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  /** primary **/
  --ion-color-primary: #3dc2ff;
  --ion-color-primary-rgb: 61, 194, 255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-color-primary-shade: #36abe0;
  --ion-color-primary-tint: #50c8ff;

    /** secondary **/
    --ion-color-secondary: #fff;
    --ion-color-secondary-rgb: 255, 255, 255;
    --ion-color-secondary-contrast: #ffffff;

    /** terciary **/
    --ion-color-tertiary: #eb445a;
    --ion-color-tertiary-shade: #cf3c4f;    
    --ion-color-tertiary-tint: #ed576b;

    --ion-font-family: "Sarabun";
}