.balancePage {
    padding: 2.5rem;
    padding-top: 2rem;
    text-align: center;
}

.balanceTitle {
    font-size: 2rem;
    font-weight: bold;
}
.balanceHeader {
    display: flex;
    justify-content: center !important;
    text-align: center;
}