.signinPage {
    background-image: url('/assets/sign-in/foto-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: flex-start !important;
    align-items: center !important;
}

.logo {
    margin: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 7rem;
    max-width: 500px;
}

ion-content {
    --background: transparent;    
}

.loginContainer {
    padding: 2rem;
}

